[submodule "libs/Adafruit_Soundboard_library"]
	path = libs/Adafruit_Soundboard_library
	url = https://github.com/adafruit/Adafruit_Soundboard_library
[submodule "libs/Adafruit_NeoPixel"]
	path = libs/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel
[submodule "libs/Adafruit_Soundboard"]
	path = libs/Adafruit_Soundboard
	url = https://github.com/adafruit/Adafruit_Soundboard_library
